body {
    margin: 10px;
}

h1 {
    font-size: 130%;
    margin: 10px 0;
}

.box {
    background: #666;
    color: #eee;
    line-height: 30px;
    margin: 10px 0;
}

.box:before {
    content: 'touch me twice!';
}

.option {
    width: 90px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}

.result {
}

.action {
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
