/books/NodeJsBeginner/node_modules/.bin/
/.idea/
/books/Node4FrontEndDevelopers/Chapter04/node_modules/.bin/
/books/Node4FrontEndDevelopers/Chapter03/node_modules/socket.io/node_modules/socket.io-client/node_modules/.bin/
/node/websocket/node_modules/socket.io/node_modules/socket.io-client/node_modules/.bin/